.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  margin-right: 10px; /* Adjust as needed */
}

.textbox {
  /* background-color:#5070bb; */
  width: 600px;
  padding: 10px;
  color: #375fbb;
}

.textbox li {
  text-align: start;
}
