.horizontalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 10%;
}

@media (max-width: 810px) {
  .horizontalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-inline: 5%;
  }
}

.image {
  margin-right: 10px;
}

.subtitle {
  padding-top: 5%;
  padding-bottom: 3%;
}

.textbox {
  width: 500px;
  padding: 40px;
}

.textbox li {
  text-align: start;
}

.verticalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-inline: 5%;
}

.timelineContent {
  list-style: none;
  margin-inline: 10%;
  text-align: center;
}

.italic {
  font-style: italic;
}

.gifContainer {
  margin: auto;
  width: 800px;
  text-align: center;
}

.gif {
  background-color: #87ceeb;
}

.horizontalLine {
  border-bottom: 2px solid #375fbb;
  width: 30%;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 3%;
}

.button {
  margin: auto;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 8px #375fbb;
  padding: 10px;
}

.button:hover {
  box-shadow: 0 0 8px #c78242;
}
