.box {
  width: 300px;
  height: 300px;
  text-align: center;
  border-color: blue;
  border-radius: 30%;
  border-width: 3px;
  border-style: solid;
  margin: auto;
  display: grid;
  place-items: center;
}

.box2 {
  background-color: aqua;
  text-align: center;
}
