* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Forum", sans-serif;
}

a:hover {
  color: #005187;
}

a {
  /* color: inherit; */
  color: #161282;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  line-height: 2em;
  min-height: 100vh;
}

p {
  text-align: center;
}

iframe {
  text-align: center;
}
