.header {
  height: "150px";
  width: "100%";
  /* background-color: yellow; */
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  /* background-color: blueviolet; */
  font-size: 2em;
  line-height: 150px;
  text-decoration: none;
  text-transform: lowercase;
}
.title:hover {
  color: #005187;
}

.menu {
  list-style: none;
  float: right;
  text-transform: lowercase;
  font-size: 1.3em;
  line-height: 150px;
}

.menu li + li {
  padding-left: 15px;
}
.menu li a {
  text-decoration: none;
}

.menu li a:hover {
  color: #005187;
}

.menu li {
  display: inline-block;
  padding-left: 0;
}

.listItems {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}

@media (max-width: 750px) {
  .header {
    height: 150px;
    background-size: cover;
  }

  .title {
    font-size: 2em;
    padding-left: 0;
    line-height: 100px;
    text-align: center;
    display: block;
  }

  .menu {
    font-size: 0.9em;
    line-height: 0.9em;
    text-align: center;
    padding-right: 0;
    float: none;
  }

}

@media (max-width: 1000px) {
  .title {
    padding-left: 20px;
  }
  .menu {
    padding-right: 20px;
  }

}
